body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
}

.active-topics {
    color: rgb(196, 255, 210);
    background-color: rgba(66, 69, 72, 0.568);
}


.btn-cust {
    width: max-content;
    height: fit-content;
    padding: 10px;
}

.btn-red {
    background: rgb(223, 6, 6);
    border-radius: 3px;
    color: aliceblue;
}

.btn-red:hover {
    background-color: rgba(177, 12, 12, 0.901);
    cursor: pointer;
}

.margin-auto {
    margin: auto;
}

ul,
li {
    list-style-type: none;
}

.wrapper {
    position: absolute;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* Complement */
.rounded-borders {
    border-radius: 5px
}

.display-block {
    display: block;
    font-size: 0.9em;
}

.main-read-news {
    width: 75%;
}

.related-news-right-side {
    width: 25%;
}

/* Button colors */

.btn-slate {
    background-color: rgb(148 163 184);
}

.btn-slate:hover {
    color: white;
    cursor: pointer;
    background-color: rgba(148, 163, 184, 0.692);
}

.btn-green {
    background-color: rgb(107, 232, 115);
}

.btn-green:hover {
    color: white;
    cursor: pointer;
    background-color: rgba(57, 123, 61, 0.692)
}

/* Top Navigation */

.top-navbar {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 15px 0 10px 0;
}

.top-nav-links {
    display: flex;
    color: white;
    flex-direction: row;
    width: 40%;
    margin-right: 5px;
    font-size: 1em;
}

.top-nav-logo {
    width: max-content;
    margin: 0 10px;
    overflow: hidden;
}

.top-nav-logo a {
    max-width: max-content;
    height: max-content;
}

.top-nav-logo a img {
    inline-size: 100%;
    object-fit: cover;
}

.top-nav-members-container {
    --spaceser: .1rem;
    display: grid;
    gap: var(--spaceser);
    grid-auto-flow: column;
    grid-auto-columns: auto;
    overflow-x: scroll;
    background-color: rgb(151, 177, 113);
    overscroll-behavior-inline: contain;
    min-height: max-content;
    width: 100%;
    border-bottom: 1px solid white;
    overflow-y: hidden;
    scroll-snap-type: none;
    scroll-padding-bottom: 50px;
}

.top-nav-members {
    height: max-content;
    padding: 10px 5px 0 5px;
    width: max-content;
    letter-spacing: 0.1em;
    border-right: 1px solid rgb(113, 65, 65);
}

.top-nav-home {
    color: rgb(121, 121, 121);
    border: 2px solid gold;
    margin: 0 10px 0 0;
    height: 45px;
    padding: 6px 0;
    width: 10%;
    width: 50px;
    text-align: center;
}

.top-nav-home>a {
    color: inherit;
    text-decoration: none;
}

.top-nav-members>a {
    color: inherit;
    text-decoration: none;
}

.top-nav-members>a:hover {
    color: bisque;
    background-color: rgba(66, 69, 72, 0.568);
}

.top-nav-home>a:hover {
    color: bisque;
    background-color: rgb(1, 69, 48);
}

.top-nav-specific-keywords-area {
    display: flex;
    flex-direction: column;
    margin: 0 4px;
    width: 30%;
}

.top-nav-search-area {
    height: 45px;
    width: 100%;
    display: flex;
    background: white;
    border-radius: 5px;
}

.top-nav-search-area input[type=search] {
    height: 100%;
    width: 95%;
    border: none;
    outline: none;
    padding: 0 5px;
    border-radius: 5px 0 0 5px;
    font-size: 1em;
}

.top-navbar input[type=search]:focus {
    background-color: rgba(251, 192, 0, 0.203);
}

.top-nav-search-area button {
    height: inherit;
    border: none;
    width: 15%;
    line-height: 40px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: white;
    word-wrap: break-word;
    font-size: 1vw;
}

.top-nav-search-area button:hover {
    cursor: pointer;
    color: white;
    background-color: rgb(172, 179, 227);
}

.profile-nav-modal {
    position: "relative";
    background: grey;
    right: "20px";
    z-index: 0;
    bottom: "100px";
}

.profile-nav-modal ul li {
    list-style-type: none;
}

.profile-nav-modal ul li a {
    text-decoration: none;
    color: white;
}

button.auto-specific {
    color: black;
    margin-top: 5px;
    padding: 4px;
    min-width: fit-content;
    border: none;
    background: rgb(212, 131, 118);
}

.auto-specific {
    width: fit-content;
    margin: 2px 0;
    color: white;

}

.top-nav-specific-keywords-area>button:hover {
    cursor: pointer;
}

.top-nav-specific-keywords-area>button:active {
    background: red;
}

.top-nav-subscribe {
    display: flex;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    position: absolute;
    top: 5%;
    left: 85%;
}

.top-nav-subscribe>* {
    border-radius: 3px 3px 3px 3px;
    padding: 5px;
    min-width: 60px;
    max-width: 100px;
    font-size: 1vw;
    margin: 0 4px;
}

/* Dropdown Toggle */
/* .menu-toggle {
    display: none;
    flex-direction: column;
    height: 20px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input {
    position: absolute;
    width: 40px;
    height: 30px;
    left: -5.5px;
    top: -5px;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}

.menu-toggle span {
    display: block;
    width: 28px;
    height: 3px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    transition: all 0.5s;
    background-color: rgba(150, 150, 150, 0.918);
}

.menu-toggle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toggle span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu-toggle input:checked~span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
    background-color: rgb(255, 255, 255);
}

.menu-toggle input:checked~span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
    background-color: rgb(255, 255, 255);
}

.menu-toggle input:checked~span:nth-child(3) {
    transform: scale(0);
    opacity: 0;
} */

.read-more {
    margin: auto, auto;
}

/* Footer */

.fit-content {
    width: fit-content;
}

.margin-auto {
    margin: auto;
}

.mt-middle-custom {
    margin-top: 2%;
}

/* Sub Topic Top Nav */
.navbar-subtopic {
    width: 100%;
    background-color: rgb(143, 143, 143);
    height: 75px;
}

.top-nav-subtopic-links {
    display: flex;
    color: white;
    flex-direction: row;
    width: 75%;
    margin-right: 5px;
    font-size: 1em;
}

.navbar-nav-subtopic {
    --spaceser: .1rem;
    display: grid;
    gap: var(--spaceser);
    grid-auto-flow: column;
    grid-auto-columns: auto;
    overflow-x: scroll;
    background-color: rgb(39, 39, 39);
    overscroll-behavior-inline: contain;
    max-width: 90%;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
}

.nav-item-subtopic {
    height: 50px;
    /* min-width: min-content; */
    width: max-content;
    margin: 10px 10px;
    padding-right: 10px;
    padding-left: 20px;
    letter-spacing: 0.1em;
    background-color: rgb(44, 44, 44);
    border: 1px solid rgb(113, 65, 65);
}

.nav-item-subtopic>a {
    color: white;
    position: relative;
    top: 10px;
    display: inline-block;
    left: -6px;
    text-decoration: none;
}

.nav-item-subtopic>a:hover {
    color: bisque;
    background-color: rgba(66, 69, 72, 0.568);
}

/* User Dashboard */
.userdashboard-main {
    position: absolute;
    z-index: 0;
    left: 0;
    background: white;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    transition: all 300ms ease-in-out;
}

.userdashboard-overlay {
    position: fixed;
    left: -390px;
    z-index: -10;
    width: 350px;
    height: 100%;
    background-color: black;
    overflow-y: auto;
    top: 0;
    padding-top: 7.5%;
    /* transition: all 100ms ease-in-out; */
}

.userdashboard-overlay-content {
    width: 100%;
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px 10px;
    width: 75%;
    border-bottom: 1px solid rgb(90, 90, 90);
}

.userdashboard-overlay-content a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    margin-top: 10px;
}

.userdashboard-overlay-content a:hover {
    color: rgb(215, 215, 215);
}

#menu-toggle {
    display: none;
}

.menu-parent {
    position: fixed;
    width: 45px;
    height: 33px;
    cursor: pointer;
    left: 10px;
    top: 14%;
    bottom: 20%;
    z-index: 100;
    background: transparent;
    transition: all 300ms ease-in-out;
}

.menu {
    z-index: -1;
    top: 20px;
    left: 0;
    width: 35px;
    display: block;
    position: absolute;
    height: 7px;
    width: 100%;
    background-color: rgb(58, 58, 58);
    border-radius: 2px;
    opacity: 1;
    cursor: pointer;
}

.menu-parent .menu:nth-child(1) {
    top: 0px;
}

.menu-parent .menu:nth-child(2) {
    top: 10px;
}

.menu-parent .menu:nth-child(3) {
    top: 20px;
}

.test-parent .test:nth-child(1) {
    top: 1px;
}

.test-parent .test:nth-child(2) {
    top: -15px;
    position: relative;
}

.test-parent .test:nth-child(3) {
    top: -30px;
    font-size: 15px;
    font-weight: bold;
    position: relative;
}

#menu-toggle:checked~.userdashboard-overlay {
    left: 0px;
    position: fixed;
    padding-top: 7.5%;
}

#menu-toggle:checked+.menu-parent {
    left: 360px;
}

#menu-toggle:checked~.userdashboard-main {
    left: 350px;
    width: 75%;
    padding-left: 10px;
}

.react-datepicker-wrapper,
.react-datepicker-wrapper.react-datepicker__input-container {
    max-width: 100px;
    max-height: 100px;
    margin-top: 10px;
}

/* Medium screen devices (768px and above) */
@media only screen and (max-width: 768px) {}

/* Width Device = 0 - 576px */
@media screen and (max-width:576px) {}